<!DOCTYPE html>
<html>
  <head>
    <title>Sistema Soporte</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>   
  </head>

  <body>      
<div>
    Su solicitud no ha podido ser atendida !!!    
</div>
<div><h5><b>No reponder a este email, este mensaje ah sido generado automatícamente</b></h5></div>
  </body>
</html>