<h1>Su numero de Folio es :<%= @folio %></h1>
<div>Con el puede ingresar con el siguiente enlace <a  href="https://sesalud.slpsalud.gob.mx:4000/folios" >Sistema soporte</a> y seleccionar ingresar con folio para 
poder dar el visto bueno por su parte</div>
<div><h5><b>No reponder a este email, este mensaje ah sido generado automatícamente</b></h5></div>
