<div class="modal-header">  
    <div>Detalles de la Solicitud</div>
    <button type="button" class="btn-close " data-dismiss="modal" aria-label="Close"> 
</div>
<div class="modal-body">    
    
    <%= render "partials/lista_opciones_sol" %>
</div>
<div class="modal-footer"> 
    <button class="btn btn-primary btn-sm" data-dismiss="modal">Cerrar</button>
</div>


       


