<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">   
      <div class="modal-content"></div>
  
    </div>
</div>
<div id="modal-solicitantes" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">   
    <div class="modal-content"></div>

  </div>
</div>

<div id="modal-tecnicos" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">   
    <div class="modal-content"></div>
 
  </div>
</div>

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
   
      </div>
  </div>
</div>

<div id="modal-add" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">   
        <% if 1!= 0 %>
        <div class="modal-header">  
            <div>Esta solicitud no tiene detalles</div>
            <button type="button" class="btn-close " data-dismiss="modal" aria-label="Close">      
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">    <button class="btn btn-primary btn-sm" data-dismiss="modal">Cerrar</button></div>
        <% end %>  
      </div>
  </div>
</div>