<div class="container borde-reporte letra">
    <div style=" border-bottom-style: solid; border-right-style: solid;"><h3>Editar Información de Equipo</h3> </div>
    <%= render "partials/equipo_ne" %>
</div>