<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacerlo atravez del enlace de abajo</p>
<p><a href="https://sesalud.slpsalud.gob.mx:4000/users/password/edit?reset_password_token=<%=@token%>" > Cambiar mi contraseña</a></p>

<p>Si tu no hiciste esta solicitud, porfavor ignora este correo</p>
<p>Tu contraseña no cambiara hasta que acceses a el enlace de arriba y crear una nueva</p>

